body {
  background-color: black;
}

.navbar {
  z-index: 100;
  border: 2px solid white;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #add8e6;
  font-size: 1.5em;
  font-weight: 500;
}

.image {
  width: 20%;
  height: 15em;
  display: flex;
}
